.cardImg{

    width: 400px;
    height: 250px;

    border: 0px;
    border-color: #151618;

}
.cardImg:hover{
    cursor: pointer;
}

.cardRow{

    background-color: #151618;
    border: 0px;
    border-color: #151618;
}

.cardCol{
    background-color: #151618;
    border: 0px;
    border-color: #151618;
}

.cardBody{

    background-color: #151618;
    border: 0px;
    border-color: #151618;
}
.card{

    background-color: #151618;
    margin: 50px 20px;
    border: 0px;
    border-color: #151618;
}

.title{
    color: #fff;
    background-color: #151618;
    border: 0px;
    border-color: #151618;

}