.navlink{
    margin-right: 12px;
    font-size: 25px;
}

.navlink:hover{

    color: #fff;
}
.nav-theme {
  background-color: #151618;
  font-size: 20px;
}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

 .brand{
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
  }

  .brand a:hover{
    color: #fff;
    text-decoration: none;
  }
