h3{
    display: inline-flex;
    margin: 8px 10px;
    position: relative;
    bottom: 10px;
}

h6{
    display: inline-flex;
    position: relative;
    top: 18px;
    float: right;
    right: 40px;
    margin-right: 20px;
}

.button:hover{

    cursor: pointer;
}

.button{

    margin: 10px;
    transform: scale(1.5);
}

.playPause{

    display: inline-flex;
    margin: 10px;
}

.pBar{

    width: 40%;
}